{% extends 'base2.html.twig' %}
{% block head %}
<title>OWL Eyewear - Création de page</title>
<link rel="icon" type="image/x-icon" href="{{ asset('/build/images/favicon.5ee79b31.ico') }}"/>
{% endblock %}
{% block body %}
    <div class="addGender">
        <div class="container">
            {{ form_start(form) }}
            <div class="row">
            {{ form_row(form.wording) }}
            </div>
            <div class="row">
            <button type="submit" class="btn btn-success">Valider</button>
            </div>
            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}