
{% extends 'base2.html.twig' %}

{% block head %}
<title>OWL Eyewear - Création de page</title>
<link rel="icon" type="image/x-icon" href="{{ asset('/build/images/favicon.5ee79b31.ico') }}"/>

{% endblock %}
{% block body %}
    <div class="addMaterial">
        <div class="container">
            {{ form_start(form) }}
            
            {{ form_row(form.wording) }}
            <button type="submit" class="btn btn-success">Valider</button>
            {{ form_end(form)}}
        </div>
    </div>
{% endblock %}