body,
footer {
}

footer {
  bottom: 0;
  color: #ffffff;
  background-color: #454545;
  left: 0;
  right: 0;
  margin-top: 5%;
  height: 10%;
  position: relative;

}
.navbar-custom {
  position: fixed;
  top: 0;
  color: inherit;
  background-color: #2f3136;
  text-decoration: none;
  color: #1d1d1b;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 969;
}
.navbar-custom2 {
  position: fixed;
  top: 0;
  color: inherit;
  background-color: #2f3136;
  text-decoration: none;
  color: #1d1d1b;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 969;
  height: 34px;
}
.navbar-custom2, .nav-item
{
  margin-top: -1px;
}

.band {
  background-color: #f7a400;
  height: 4%;
  width: 100%;
}
.nav-link {
  color: #ffffff;
}
body,
footer {
  position: relative;
}

li {
  border-right: 1px solid #ffffff80;
  color: #ffffff;
}

.band {
  background-color: #f7a400;
  height: 4%;
  width: 100%;
}
.nav-link {
  color: #ffffff;
}
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
a:hover {
  color: #f7a400;
}
.imgcollaps {
  width: 20px;
}
.navbar-custom .navbar-toggler-icon {
  background-image: url("../images/collaps.png");
}
.container {
  margin-top: -14px;
}

.headLogo
{
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
