body,
footer {
  position: relative;
}

footer {
  bottom: 0;
  color: #ffffff;
  background-color: #454545;
  left: 0;
  right: 0;
  margin-top: 5%;
  height: 10%;
}
.navbar-custom {
  position: fixed;
  top: 0;
  color: inherit;
  background-color: #2f3136;
  text-decoration: none;
  color: #1d1d1b;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
li {
  border-right: 1px solid #45454580;
  color: #ffffff;
}
.logo {
  height: 66px;
}
.band {
  background-color: #f7a400;
  height: 4%;
  width: 100%;
}
.nav-link {
  color: #ffffff;
}
body,
footer {
  position: relative;
}

/*footer
{
    bottom: 0;
    color: #ffffff;
    background-color: #454545;
    left: 0;
    right: 0;
    margin-top: 5%;
    height: 10%;
}*/
.navbar-custom {
  color: inherit;
  background-color: #2f3136;
  text-decoration: none;
  color: #1d1d1b;
  z-index: 1;
}
li {
  border-right: 1px solid #45454580;
  color: #ffffff;
}

.band {
  background-color: #f7a400;
  height: 4%;
  width: 100%;
}
.nav-link {
  color: #ffffff;
}
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
a:hover {
  color: #f7a400;
}
.imgcollaps {
  width: 20px;
}
.navbar-custom .navbar-toggler-icon {
  background-image: url("../images/collaps.png");
}
.container {
  margin-top: -14px;
}
.navbar-custom {
  color: inherit;
  background-color: #2f3136;
  text-decoration: none;
  color: #1d1d1b;
  z-index: 969;
  position: fixed;
  top: 0;
  width: 100%;
}
